<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parcial StefaniaG</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <section class="titulo">
        <h1>Proyectos</h1>
    </section>
    <section class="cuerpo">
        <a href="/">Inicio</a>
        <a href="/Proyectos">Proyectos</a>
        <a href="/Contacto">Contacto</a>
    </section>
</body>

</html>